.Counter {
  display: flex;
  height: 90px;
  width: 155px;
  justify-content: center;
  align-items: center;
}

.CounterTime {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-right: 5px;
}

.timer {
  color: #fad000;
}
