.Counter {
    background-color: #c2c2ff;
    display: flex;
    flex-direction: column;
    height: 135px;
    width: 320px;
    border-radius: 15px;
}

.CounterName {
    text-align: center;
}

.CounterTime {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.btnCount {
    background-color: transparent;
    color: #ffff99;
    border-radius: 50%;
    height: 100%;
    width: 20%;
    font-size: 20px;
    border: transparent;
}

.btnCount:Hover {
    background-color: white;
    color: #c2c2ff;
}